<div class="container text-center banner">
    <img src="~/Content/images/elda.jpeg" />
    <h2><strong>Elda Gomes</strong></h2>
    <h4>Web Developer | C# | Asp.Net MVC</h4>
    <h4>Mãe | Cursando 2ª Graduação</h4>
    <h5><a href="www.linkedin.com/in/elda-gomes">www.linkedin.com/in/elda-gomes</a></h5>
</div>
